<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Головна</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">
    <link rel="stylesheet" href="~/EventManagementSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <a href="#intro" class="scrollto"><img src="~/img/logo.png" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="~/#intro">Головна</a></li>
                    <li><a href="~/#formats">Формати</a></li>
                    <li><a href="~/#categories">Категорії</a></li>
                    <li><a href="~/#faq">Часті запитання</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Події", "Index", "Events")</li>
                            <li>@Html.ActionLink("Спікери", "Index", "Speakers")</li>
                            <li>@Html.ActionLink("Локації", "Index", "Locations")</li>
                        }
                        else if(User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Події", "Index", "UserEvents")</li>
                            <li>@Html.ActionLink("Розклад", "ListEvents", "UserEvents")</li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Profile" asp-controller="Account" >
                                <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="nav-link btn btn-link p-0">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="log-in"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Увійти</a></li>

                    }
                </ul>
            </nav>
        </div>
    </header>
  
  
     @RenderBody()


    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="img/logo.png" alt="TheEvenet">
                        <p>THE EVENT - Ваш надійний партнер у організації та керуванні подіями. Зручний інтерфейс для адміністраторів та учасників, повний контроль і широкі можливості. Приєднуйтесь до нас для безпроблемного управління подіями!</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Посилання</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Головна</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#formats">Формати</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Посилання</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#categories">Категорії</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#faq">Часті запитання</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>НАШІ КОНТАКТИ</h4>
                        <p>
                            <strong>Телефон:</strong> +380998765432<br>
                            <strong>Пошта:</strong> theevent@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
            </div>

        </div>
    </footer>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/venobox/venobox.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
