@model IEnumerable<EventManagementSystem.Models.Location>

@{
    ViewData["Title"] = "Локації";
    Layout = "_Layout";
}
<main class="container mt-5">
    <div class="mainContainer">
        <h2 class="mb-4">Локації</h2>
        <div class="row">
            @foreach (var location in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="@location.ImagePath" class="card-img-top" alt="@location.Name">
                        <div class="card-body">
                            <h5 class="card-title">@location.Name</h5>
                            <p class="card-text">@location.Address</p>
                            <p class="card-text">@location.Description</p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@location.Id" class="btn btn-warning btn-sm me-1">Редагувати</a>
                            <a asp-action="Delete" asp-route-id="@location.Id" class="btn btn-danger btn-sm">Видалити</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <p>
            <a asp-action="Create" class="btn btn-primary mb-3">Додати</a>
        </p>
    </div>
</main>