@model IEnumerable<EventManagementSystem.Models.Event>

@{
    ViewData["Title"] = "Пошук подій";
    Layout = "_Layout";
}
<main class="container mt-5">
    <div class="mainContainer">
        <h2 class="text-center mb-4">Пошук подій</h2>
        <div class="d-flex justify-content-center mb-4">
            @using (Html.BeginForm("Search", "UserEvents", FormMethod.Get, new { @class = "w-100" }))
            {
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" name="searchTerm" class="form-control" placeholder="Введіть назву події" />
                    </div>
                    <div class="form-group col-md-2">
                        @Html.DropDownList("format", ViewData["Formats"] as SelectList, "Всі формати", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.DropDownList("category", ViewData["Categories"] as SelectList, "Всі категорії", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        <input type="date" name="startDate" class="form-control" placeholder="Дата початку" />
                    </div>
                    <div class="form-group col-md-2">
                        <input type="date" name="endDate" class="form-control" placeholder="Дата завершення" />
                    </div>
                    <div class="form-group col-md-1">
                        <button type="submit" asp-action="Search" asp-controller="UserEvents"  class="btn btn-primary btn-block">Пошук</button>
                    </div>
                </div>
            }
        </div>

        @if (Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var eventItem in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm h-100">
                            <div class="card-body">
                                <h5 class="card-title">@eventItem.Title</h5>
                                <p class="card-text text-truncate">@eventItem.Description</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Дата: @(eventItem.Date != null ? eventItem.Date.ToString("dd.MM.yyyy HH:mm") : "N/A")
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Локація: @(eventItem.Location?.Name ?? "N/A")
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Категорія: @(eventItem.Category != null ? Enum.GetName(typeof(Category), eventItem.Category) : "N/A")
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Формат: @(eventItem.Format != null ? Enum.GetName(typeof(Format), eventItem.Format) : "N/A")
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Ціна квитка: @(eventItem.Price != null ? $"{eventItem.Price} UAH" : "N/A")
                                    </small>
                                </p>
                                <a asp-action="Details" asp-controller="UserEvents" asp-route-id="@eventItem.Id" class="btn btn-info btn-sm">Переглянути</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
   
</main>